.container {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 360px) {
  .container {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

* {
  box-sizing: border-box;
}

.body {
  margin: 0 auto;
  max-width: 1700px;
  background-color: #87E464;
  font-family: "Krona One", sans-serif;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .body {
    max-width: 360px;
  }
}
@media screen and (min-width: 360px) {
  .body {
    max-width: 768px;
  }
}
@media screen and (min-width: 360px) {
  .body {
    max-width: 1024px;
  }
}
@media screen and (min-width: 360px) {
  .body {
    max-width: 1600px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: 25px;
}
@media screen and (min-width: 1024px) {
  .logo {
    margin-top: 20px;
  }
}

.header-list {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.nav-text {
  color: rgb(8, 28, 0);
}

.list-nav-text:hover .nav-text {
  color: rgb(255, 255, 255);
}

.list-nav-text {
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 16px;
}

.nav-web {
  margin-left: auto;
}

.list-nav-text:hover {
  border-radius: 40px;
  background: rgb(8, 28, 0);
  padding: 12px 16px;
  margin: 4px;
}

.nav-web-site {
  align-items: center;
}

.nav-web-site {
  display: flex;
}

.search {
  padding: 6px 14px;
  background: #fff;
  border-radius: 40px;
  align-items: center;
  margin: 0px 8px;
}

.search svg {
  margin-top: 8px;
}

.shopping {
  padding: 6px 14px;
  background: #fff;
  border-radius: 40px;
  align-items: center;
  margin-right: 8px;
}

.shopping svg {
  margin-top: 7px;
}

.button-walet-style {
  padding: 14px 32px;
  background-color: #fff;
  border-radius: 150px;
}

.text-walet-nav {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.button-style {
  padding: 15px 14px;
  background: #fff;
  border-radius: 40px;
}
@media screen and (min-width: 300px) {
  .button-style {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-style {
    display: block;
    margin-right: 8px;
  }
}

.header-button {
  border: none;
  background-color: transparent;
}

.button-header-link {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.burger-style {
  padding: 15px 14px;
  background: #fff;
  border-radius: 40px;
}
@media screen and (min-width: 1600px) {
  .burger-style {
    display: none;
  }
}

.open {
  display: flex !important;
}

.nav ul {
  list-style: none;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 18px;
  height: 16px;
  z-index: 2;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #000;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

@media screen and (min-width: 300px) {
  .header-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-button {
    display: block;
  }
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 60%);
}

@media (max-width: 1599px) {
  .burger {
    display: flex;
  }
  .nav {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    padding: 80px 110px;
    background: linear-gradient(-57.66deg, rgb(45, 42, 34) 5.184%, rgb(126, 109, 83) 110.238%);
    animation: burgerAnimation 0.4s;
  }
}
@media screen and (max-width: 1599px) and (min-width: 1600px) {
  .nav {
    display: none;
  }
}
@media (max-width: 1599px) {
  .nav .list-nav-menu {
    flex-direction: column;
    row-gap: 35px;
  }
  .nav .list-contact-menu {
    flex-direction: column;
    row-gap: 32px;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero {
  background-image: url(../img/hero-360.png);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  padding: 15px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero-768.png);
    width: 100%;
    height: 940px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    background-image: url(../img/hero-1024.png);
    width: 100%;
    height: 940px;
  }
}

.button-hero {
  width: 280px;
  height: 68px;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: inset 0px 4px 10px 0px rgba(255, 255, 255, 0.5), inset 0px -4px 10px 0px rgba(255, 255, 255, 0.5);
  background: radial-gradient(50% 50% at 50% 50%, rgb(82, 82, 82), rgb(40, 40, 40) 100%);
  transform: rotate(-3deg);
  margin-top: 350px;
}
@media screen and (min-width: 768px) {
  .button-hero {
    margin-top: 500px;
    margin-left: 50px;
  }
}

.text-hero {
  color: rgb(255, 255, 255);
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.text-hero a {
  color: #fff;
}

.dropbtn {
  padding: 20px 30px 20px 30px;
  border: none;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.news {
  margin-top: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}
@media screen and (min-width: 300px) {
  .dropdown {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .dropdown {
    display: block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 2px solid rgb(8, 28, 0);
  border-radius: 20px;
  padding: 20px;
  background: rgb(255, 255, 255);
  overflow: auto;
  width: 212px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  display: block;
  text-align: center;
  align-items: center;
  padding: 8px 0;
}

.dropdown a:hover {
  background-color: #ddd;
  border-radius: 10px;
  padding: 8px 0;
}

.show {
  display: block;
}

.position-button {
  display: flex;
  justify-content: space-between;
}

.button-item {
  display: flex;
}

.featured-item-text {
  padding: 10px 20px;
  border-radius: 150px;
  height: 44px;
  background: rgb(255, 255, 255);
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .featured-item-text {
    width: 268px;
    height: 64px;
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
  }
}

.text {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.dropbtn:hover {
  border: 1px solid #000;
}

.arrow {
  width: 84px;
  height: 44px;
  border-radius: 140px;
  background: rgb(255, 255, 255);
  display: flex;
}
@media screen and (min-width: 768px) {
  .arrow {
    width: 124px;
    height: 64px;
  }
}

.card-box {
  width: 320px;
  height: 436px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  border: none;
  overflow: hidden;
}

.img-news {
  background-image: url(../img/caps-360.png);
  margin-left: 20px;
  width: 292px;
  height: 312px;
}

.card {
  display: flex;
  padding: 0 20px;
  padding-right: 0;
  margin-top: 32px;
}

.title-product {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.price-product {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

.title-new-drop {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.price-new-drop {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

.slid {
  display: flex;
  margin-top: 32px;
  margin-left: 20px;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.button-new-drop {
  width: 64px;
  height: 64px;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  border: none;
}

.button-buy {
  width: 64px;
  height: 64px;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  border: none;
  margin-left: 60px;
}

.border {
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  width: 104px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(8, 28, 0, 0.15);
  text-align: center;
  margin-left: auto;
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (min-width: 300px) {
  .border {
    display: none;
  }
}

.border-hit {
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  background: rgb(255, 140, 57);
  width: 73px;
  text-align: center;
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 24px;
}
@media screen and (min-width: 360px) {
  .border-hit {
    display: none;
  }
}

.slider {
  -moz-column-gap: 18px;
       column-gap: 18px;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .slider {
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
}

.prev {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 150px;
  width: 36px;
  height: 36px;
  margin-right: 4px;
  background: rgb(135, 228, 100);
  margin-top: 21px;
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .prev {
    width: 56px;
    height: 56px;
    margin-top: 32px;
  }
}

.description {
  margin-top: 32px;
  display: flex;
  margin-left: 20px;
  padding-right: 20px;
}

.next {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 150px;
  margin-top: 21px;
  background: rgb(135, 228, 100);
}
@media screen and (min-width: 768px) {
  .next {
    width: 56px;
    height: 56px;
    margin-top: 32px;
  }
}

.text-slide {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  width: 130px;
}
@media screen and (min-width: 768px) {
  .text-slide {
    font-size: 20px;
    width: 150px;
  }
}

.price-slide {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .price-slide {
    font-size: 24px;
    line-height: 28px;
  }
}

.img-slide {
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .img-slide {
    width: 350px;
    height: 312px;
  }
}
@media screen and (min-width: 1024px) {
  .img-slide {
    width: 312px;
    height: 312px;
  }
}

.button-shopping-bag {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  margin-left: 90px;
}
@media screen and (min-width: 1024px) {
  .button-shopping-bag {
    margin-left: 60px;
  }
}

.slide {
  width: 320px;
  height: 436px;
  border-radius: 30px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .slide {
    width: 350px;
    height: 436px;
  }
}
@media screen and (min-width: 1024px) {
  .slide {
    width: 312px;
    height: 436px;
  }
}

.dropdowns {
  position: relative;
  display: inline-block;
  align-items: center;
}

.about-list {
  margin-top: 68px;
  width: 360px;
  height: 664px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  -moz-column-gap: 140px;
       column-gap: 140px;
}
@media screen and (min-width: 768px) {
  .about-list {
    width: 720px;
    height: 820px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .about-list {
    width: 976px;
    height: 1000px;
    margin-left: 25px;
  }
}

@media screen and (min-width: 360px) {
  .about-img {
    width: 320px;
    height: 204px;
  }
}
@media screen and (min-width: 768px) {
  .about-img {
    width: 680px;
    height: 476px;
  }
}
@media screen and (min-width: 1024px) {
  .about-img {
    width: 936px;
    height: 656px;
  }
}

.title-about {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  width: 320px;
  text-align: center;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .title-about {
    width: 443px;
    font-size: 30px;
    line-height: 36px;
    margin-left: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .title-about {
    width: 443px;
    margin-top: 40px;
    margin-left: 266px;
  }
}

.button-abouts {
  margin-top: 68px;
}

.color-text {
  color: rgb(135, 228, 100);
}

.subtitle {
  width: 320px;
  text-align: center;
  color: rgb(8, 28, 0);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .subtitle {
    width: 576px;
    margin-left: 52px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .subtitle {
    width: 698px;
    margin-left: 140px;
    margin-top: 32px;
  }
}

.button-about {
  width: 320px;
  height: 52px;
  align-items: center;
  display: flex;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  border: none;
  padding: 20px 102px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .button-about {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .button-about {
    margin-left: 320px;
    margin-top: 24px;
  }
}

.container-about {
  padding: 0;
}

.about-listed-pepe {
  margin-top: 20px;
  width: 360px;
  height: 580px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  -moz-column-gap: 220px;
       column-gap: 220px;
}

.text-button {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.about-listed {
  margin-top: 40px;
  width: 360px;
  height: 532px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  -moz-column-gap: 220px;
       column-gap: 220px;
}
@media screen and (min-width: 768px) {
  .about-listed {
    width: 720px;
    height: 808px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .about-listed {
    width: 976px;
    height: 1020px;
    margin-left: 25px;
  }
}

.dropdown-pepe {
  margin-top: 50px;
}

.container-abouts {
  padding: 0;
}

.subtitle-about {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .subtitle-about {
    width: 445px;
    margin-left: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .subtitle-about {
    width: 445px;
    margin-left: 266px;
  }
}

.dropbtns {
  border: none;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 320px;
  height: 64px;
}

.pond {
  width: 320px;
  height: 204px;
}
@media screen and (min-width: 768px) {
  .pond {
    width: 680px;
    height: 476px;
  }
}
@media screen and (min-width: 1024px) {
  .pond {
    width: 936px;
    height: 656px;
  }
}

.text-about {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.dropbtn-color {
  background-color: rgb(135, 228, 100);
  padding: 20px 65px;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .dropbtn-color {
    margin-left: 200px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .dropbtn-color {
    margin-left: 333px;
    margin-top: 40px;
  }
}

.about-listed-pepe {
  width: 360px;
  height: 592px;
}
@media screen and (min-width: 768px) {
  .about-listed-pepe {
    width: 720px;
    height: 808px;
  }
}
@media screen and (min-width: 1024px) {
  .about-listed-pepe {
    width: 976px;
    height: 1020px;
  }
}

.text-pepe {
  width: 320px;
  height: 144px;
}
@media screen and (min-width: 768px) {
  .text-pepe {
    width: 590px;
    height: 80px;
    margin-left: 55px;
  }
}
@media screen and (min-width: 1024px) {
  .text-pepe {
    width: 586px;
    margin-left: 195px;
  }
}

.dropbtn-width {
  width: 100%;
}

.subtitle-width {
  width: 474px;
}

.about-margin {
  margin-top: 20px;
}

.hou-to-buy {
  overflow: hidden;
}

.card-box-section {
  width: 320px;
  height: 436px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  border: none;
}
@media screen and (min-width: 768px) {
  .card-box-section {
    width: 370px;
    height: 532px;
  }
}

.img-hou {
  width: 299px;
  height: 320px;
  margin: 12px 12px 0 12px;
}
@media screen and (min-width: 768px) {
  .img-hou {
    width: 346px;
    height: 384px;
  }
}

.list-card {
  display: flex;
  margin-top: 28px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .list-card {
    margin-left: 25px;
  }
}

.text-hou-to-buy {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text-hou-to-buy {
    margin-top: 40px;
  }
}

.button-arrow {
  border-radius: 150px;
  background: rgb(135, 228, 100);
  width: 36px;
  height: 36px;
  border: none;
  margin: 4px;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .button-arrow {
    width: 56px;
    height: 56px;
  }
}

.card-list-item {
  margin-top: 40px;
}

.card-li-item {
  width: 328px;
  height: 304px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding-left: 58px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .card-li-item {
    width: 720px;
    height: 620px;
  }
}
@media screen and (min-width: 1024px) {
  .card-li-item {
    width: 976px;
    height: 620px;
  }
}

.position-card {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.img-item {
  width: 212px;
  height: 212px;
}
@media screen and (min-width: 768px) {
  .img-item {
    width: 500px;
    height: 500px;
    margin-left: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .img-item {
    width: 500px;
    height: 500px;
    margin-left: 205px;
  }
}

.content {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}

.text-content {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  margin-left: 17px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .text-content {
    margin-left: 210px;
  }
}
@media screen and (min-width: 1024px) {
  .text-content {
    margin-left: 330px;
  }
}

.text-contents {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .text-contents {
    margin-left: 210px;
  }
}
@media screen and (min-width: 1024px) {
  .text-contents {
    margin-left: 310px;
  }
}

.button-content {
  border-radius: 150px;
  background: rgb(135, 228, 100);
  width: 68px;
  height: 48px;
  border: none;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .button-content {
    width: 104px;
    height: 70px;
  }
}

.footer {
  width: 360px;
  height: 852px;
  border-radius: 50px 50px 0 0;
  background: rgb(255, 255, 255);
  margin-top: 68px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-left: 25px;
    width: 720px;
    height: 1032px;
    border-radius: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    width: 976px;
    height: 866px;
  }
}

.footer-img {
  width: 320px;
  height: 156px;
}
@media screen and (min-width: 768px) {
  .footer-img {
    width: 680px;
    height: 344px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-img {
    width: 936px;
    height: 344px;
  }
}

.all-content {
  flex-wrap: wrap;
}

.content-footer {
  border-radius: 30px;
  background: rgb(245, 245, 245);
  width: 320px;
  height: 476px;
  padding-top: 1px;
}
@media screen and (min-width: 768px) {
  .content-footer {
    width: 680px;
    height: 476px;
  }
}
@media screen and (min-width: 1024px) {
  .content-footer {
    width: 936px;
    height: 398px;
  }
}

.card-list-footer {
  width: 300px;
  height: 216px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 1px;
  padding-left: 8px;
}
@media screen and (min-width: 768px) {
  .card-list-footer {
    width: 660px;
    height: 216px;
  }
}
@media screen and (min-width: 1024px) {
  .card-list-footer {
    width: 916px;
    height: 138px;
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.card-footer {
  width: 284px;
  height: 44px;
  border-radius: 12px;
  background: rgb(245, 245, 245);
  margin-top: 8px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .card-footer {
    width: 644px;
    height: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .card-footer {
    width: 219px;
    height: 122px;
    padding-top: 49px;
  }
}

.text-footer {
  text-align: center;
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.contact-footer {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 228px;
  margin-top: 12px;
  align-items: center;
  padding-top: 45px;
  padding-left: 15px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .contact-footer {
    padding-left: 195px;
    width: 660px;
    height: 228px;
  }
}
@media screen and (min-width: 1024px) {
  .contact-footer {
    padding-left: 305px;
    width: 916px;
    height: 228px;
  }
}

.footer-contact-text {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 270px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer-contact-text {
    width: 310px;
  }
}

.button-contact {
  width: 270px;
  height: 48px;
  border: none;
  border-radius: 150px;
  padding: 12px;
  background-color: rgb(135, 228, 100);
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}
@media screen and (min-width: 1024px) {
  .button-contact {
    width: 310px;
  }
}

.footer-data {
  width: 320px;
  height: 160px;
  background-color: rgb(135, 228, 100);
  border-radius: 30px;
  margin-top: 10px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .footer-data {
    width: 680px;
    height: 152px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-data {
    width: 936px;
    height: 64px;
    display: flex;
    padding: 20px 40px;
  }
}

.left-data-footer {
  margin-left: auto;
}

.footer-data-text {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-data-text {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.footer-data-text + .footer-data-text {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .footer-data-text + .footer-data-text {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-data-text + .footer-data-text {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .text-poosition {
    margin-left: auto;
    margin-right: 20px;
  }
}/*# sourceMappingURL=main.css.map */