.logo {
  margin-top: 25px;
  @media screen and (min-width: 1024px) {
   margin-top: 20px;
  }
}

.header-list {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  column-gap: 5px;
  margin-left: 545px;
}

.nav-text {
  color: rgb(8, 28, 0);
}

.list-nav-text:hover .nav-text {
  color: rgb(255, 255, 255);
}

.list-nav-text {
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 16px;
}

.nav-web {
  margin-left: auto;
}

.list-nav-text:hover {
  border-radius: 40px;
  background: rgb(8, 28, 0);
  padding: 12px 16px;
  margin: 4px;
}

.nav-web-site {
  align-items: center;
}

.nav-web-site {
  display: flex;
}

.search {
  padding: 6px 14px;
  background: #fff;
  border-radius: 40px;
  align-items: center;
  margin: 0px 8px;
}

.search svg {
  margin-top: 8px;
}

.shopping {
  padding: 6px 14px;
  background: #fff;
  border-radius: 40px;
  align-items: center;
  margin-right: 8px;
}

.shopping svg {
  margin-top: 7px;
}

.button-walet-style {
  padding: 14px 32px;
  background-color: #fff;
  border-radius: 150px;
}

.text-walet-nav {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.button-style {
  padding: 15px 14px;
  background: #fff;
  border-radius: 40px;
  @media screen and (min-width: 300px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 8px;
  }
}

.header-button {
border: none;
background-color: transparent;
}

.button-header-link {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.burger-style {
  padding: 15px 14px;
  background: #fff;
  border-radius: 40px;
  @media screen and (min-width: 1600px) {
    display: none;
  }
}

.open {
  display: flex !important;
}

.nav ul {
  list-style: none;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 18px;
  height: 16px;
  z-index: 2;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #000;
}
.slider-container {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.header-button {
  @media screen and (min-width: 300px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 60%);
}
@media (max-width: 1599px) {
  .burger {
    display: flex;
  }

  .nav {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    padding: 80px 110px;
    background: linear-gradient(
      -57.66deg,
      rgb(45, 42, 34) 5.184%,
      rgb(126, 109, 83) 110.238%
    );
    animation: burgerAnimation 0.4s;

    @media screen and (min-width: 1600px) {
      display: none;
    }
  }

  .nav .list-nav-menu {
    flex-direction: column;
    row-gap: 35px;
  }
  .nav .list-contact-menu {
    flex-direction: column;
    row-gap: 32px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
