.logo {
  @media screen and (min-width: 1024px) {
    margin-top: 20px;
  }
}

.header-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 545px;
  display: flex;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  column-gap: 5px;
}

.navigation {
  margin-left: 545px;
  display: flex;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  column-gap: 5px;
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1600px) {
    display: flex;
  }
}

.nav-text {
  color: rgb(8, 28, 0);
}

.list-nav-text:hover .nav-text {
  color: rgb(255, 255, 255);
}

.list-nav-text {
  font-family: Krona One;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 16px;
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1600px) {
    display: flex;
  }
}

.nav-web {
  margin-left: auto;
  list-style: none;
}

.list-nav-text:hover {
  border-radius: 40px;
  background: rgb(8, 28, 0);
  padding: 12px 16px;
  margin: 4px;
}

.nav-web-site {
  align-items: center;
}

.nav-web-site {
  display: flex;
}

.search {
  width: 52px;
  height: 52px;
  padding: 8px 15px;
  background: #fff;
  border-radius: 40px;
  align-items: center;
  margin: 0px 8px;
}

.search svg {
  margin-top: 8px;
}

.shopping {
  width: 52px;
  height: 52px;
  padding: 17px;
  padding-left: 0;
  background: #fff;
  border-radius: 40px;
  align-items: center;
  margin-right: 8px;
}



.button-walet-style {
  padding: 14px 32px;
  background-color: #fff;
  border-radius: 150px;
}

.text-walet-nav {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.button-style {
  padding: 15px 14px;
  background: #fff;
  border-radius: 40px;
  @media screen and (min-width: 300px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 8px;
  }
}

.header-button {
  border: none;
  background-color: transparent;
}

.button-header-link {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.burger-style {
  padding: 15px 14px;
  background: #fff;
  border-radius: 40px;
}

.open {
  display: flex !important;
}

.nav ul {
  list-style: none;
}

.burger {
  display: block;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 18px;
  height: 16px;
  z-index: 2;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #000;
}
.slider-container {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.header-button {
  @media screen and (min-width: 300px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #000;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active {
  position: fixed;
  top: 25px;
  right: 30px;
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  background: rgb(171, 171, 171);
  opacity: 1;
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 60%);
  background: rgb(171, 171, 171);
  opacity: 1;
}

  .nav {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    margin: 0;
    overflow-y: auto;
    background: #fff;
    animation: burgerAnimation 0.4s;
  }

  .nav .list-nav-menu {
    flex-direction: column;
    row-gap: 35px;
  }
  .nav .list-contact-menu {
    flex-direction: column;
    row-gap: 32px;
  }


@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product {
  align-items: center;
}

.product-name {
  font-weight: bold;
}

#product-container {
  margin-top: 32px;
}

.increment {
  font-size: 22px;
  margin-left: 4px;
}

.decrement {
  width: 12px;
  height: 25px;
  margin-top: -4px;
  margin-left: 0px;
}

#app {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;

}

.container-app {
  margin: 0 auto;
  width: 330px;
}

.quantity-container {
  display: flex;
  align-items: center;
  width: 97px;
  height: 36px;
  border-radius: 150px;
  background: rgb(245, 245, 245);
  justify-content: space-between;
  padding: 5px;
}

.text-modal {
  text-align: center;
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

#product-container .product {
  display: flex;
  align-items: self-start;
  padding: 10px;
  flex-wrap: wrap;
}

.product-name {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  width: 145px;
  margin-top: 8px;
}

.size-border {
  box-sizing: border-box;
  border: 1px solid rgb(223, 223, 223);
  background: rgb(27, 85, 235);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 8px;
}

.control-container {
  margin-top: 16px;
  display: flex;
  align-items: center;

}

.size-container {
  display: flex;
  margin-right: 37px;
  align-items: center;
}

.product-price {
  margin: 0 10px;
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 60px;
}

.product button {
  border-radius: 150px;
  background: rgb(135, 228, 100);
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.total {
  border-radius: 20px;
  background: rgb(245, 245, 245);
  width: 320px;
  height: 106px;
  padding-left: 16px;
  padding-top: 28px;
  margin-right: 50px;
}

.add-product-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.add-product-btn:hover {
  background-color: #218838;
}

.label-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 4px 5px;
  font-size: 25px;
}

.name-price-container {
  margin-top: 8px;
}

.details-container {
  margin-top: 8px;
}

.border-box {
  border: 1px solid rgb(223, 223, 223);
  background: rgb(27, 85, 235);
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 50px;
}

.button-label {
  color: rgb(8, 28, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  width: 48px;
  height: 24px;
  background: rgb(135, 228, 100);
  border-radius: 40px;
  text-align: center;
  padding-top: 2px;
}

.buttons-container {
  border-radius: 150px;
  background: rgb(245, 245, 245);
  padding: 6px;
}

.discount {
  color: rgb(8, 28, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

#discount {
  margin-left: 110px;
  color: rgb(135, 228, 100);
}

#total-amount {
  margin-left: 156px;
}

.checkout-btn {
  width: 320px;
  height: 48px;
  border: none;
  color: rgb(8, 28, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 40px;
  border-radius: 150px;
  margin-top: 8px;
  background: rgb(135, 228, 100);
}

.text-privacy-policy {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 240px;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
}

.svg_shopping {
  display: block;
}

.span {
  color: rgb(135, 228, 100);
}

.check {
  margin-top: 260px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.burgers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.burgers .line {
  width: 100%;
  height: 2.5px;
  background-color: #333;
  transition: all 0.3s;
  border-radius: 15px;
}

.nav {
  display: none;
}

.burgers.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgers.active .line:nth-child(2) {
  opacity: 0;
}

.burgers.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav.open {
  display: block;
}
