.about-list {
  margin-top: 68px;
  width: 1540px;
  height: 544px;
  background-color: #fff;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  column-gap: 140px;
}

.title-about {
  margin-top: 96px;
  font-family: Krona One;
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  margin-bottom: 28px;
}

.button-abouts {
  margin-top: 68px;
}

.color-text {
  color: rgb(135, 228, 100);
}

.subtitle {
  width: 600px;
  color: rgb(8, 28, 0);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 28px;
}

.button-about {
  align-items: center;
  display: flex;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  border: none;
  padding: 20px 40px;
  column-gap: 8px;
}

.text-button {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.about-listed {
  margin-top: 68px;
  width: 1544px;
  height: 544px;
  background-color: #fff;
  border-radius: 50px;
  padding-top: 20px;
  padding-left: 140px;
  display: flex;
  column-gap: 220px;
}

.subtitle-about {
  width: 445px;
}

.text-about {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.dropbtn-color {
  background-color: rgb(135, 228, 100);
  padding: 20px 40px;
}

.dropbtn-width {
  width: 100%;
}

.subtitle-width {
  width: 474px;
}

.about-margin {
  margin-top: 20px;
}
