.about-list {
  margin-top: 68px;
  width: 360px;
  height: 664px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  column-gap: 140px;
}

.title-about {
  font-family: Krona One;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  width: 320px;
  text-align: center;
  margin-top: 28px;
}

.button-abouts {
  margin-top: 68px;
}

.color-text {
  color: rgb(135, 228, 100);
}

.subtitle {
  width: 320px;
  text-align: center;
  color: rgb(8, 28, 0);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 20px;
}

.button-about {
  width: 320px;
  height: 52px;
  align-items: center;
  display: flex;
  border-radius: 150px;
  background: rgb(135, 228, 100);
  border: none;
  padding: 20px 102px;
  column-gap: 8px;
  margin-top: 28px;
}

.container-about {
  padding: 0;
}

.about-listed-pepe {
  margin-top: 20px;
  width: 360px;
  height: 580px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  column-gap: 220px;
}

.text-button {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.about-listed {
  margin-top: 40px;
  width: 360px;
  height: 532px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  column-gap: 220px;
}

.dropdown-pepe {
 margin-top: 50px;
}

.container-abouts {
  padding: 0;
}

.subtitle-about {
  width: 320px;
}

.dropbtns {
  border: none;
  border-radius: 150px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 320px;
  height: 64px;
}

.text-about {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.dropbtn-color {
  background-color: rgb(135, 228, 100);
  padding: 20px 65px;
  margin-top: 28px;
}

.dropbtn-width {
  width: 100%;
}

.subtitle-width {
  width: 474px;
}

.about-margin {
  margin-top: 20px;
}
