.card-list-item {
  margin-top: 40px;
}

.card-li-item {
  width: 328px;
  height: 304px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding-left: 58px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    width: 720px;
    height: 620px;
  }
  @media screen and (min-width: 1024px) {
    width: 976px;
    height: 620px;
  }
}

.position-card {
  column-gap: 20px;
}

.img-item {
  width: 212px;
  height: 212px;
  @media screen and (min-width: 768px) {
    width: 500px;
    height: 500px;
    margin-left: 70px;
  }
  @media screen and (min-width: 1024px) {
    width: 500px;
    height: 500px;
    margin-left: 205px;
  }
}

.content {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.text-content {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  margin-left: 17px;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 210px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 330px;
  }
}

.text-contents {
  color: rgb(8, 28, 0);
  font-family: Krona One;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 210px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 310px;
  }
}

.button-content {
  border-radius: 150px;
  background: rgb(135, 228, 100);
  width: 68px;
  height: 48px;
  border: none;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    width: 104px;
    height: 70px;
  }
}
